@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenue sur la plateforme des stagiaires</h1>
    <p>Veuillez vous connecter ou créer un compte pour accéder à l’espace stagiaire.</p>

    <a class="btn btn-primary" href="/Home/Login">Se connecter</a>
    <a class="btn btn-success" href="/Home/Register">S'inscrire</a>
</div>
